/* Basic Reset */
* {margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1; font-family: 'Ropa Sans';}

/* Jasmine Overrides */
body {overflow: auto;}
.jasmine_html-reporter {margin: 0; position: fixed; left: 0; right: 0; bottom: 0;}